header, .container {
  padding: 2em;
}

.container {
  min-height: 25em;
}

header {
  background: #9a2b2b;
  border-radius: 20px 20px 0 0;
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
}

.App {
 box-shadow: 0 8px 12px #bfd6e6;
 width: 45em;
 margin: 2% auto 0 auto;
 border-radius: 20px;
}

.randomWords {
  display: grid;
  grid-template-columns: repeat(3, auto);
  text-align: center;
  grid-gap: 0.5%;
  text-transform: capitalize;
}

.randomWords p, button, input[type="submit"]{
  padding: 1em;
  transition: all 0.3s ease;
  color: #9a2b2b;
  border: solid 0.2rem #9a2b2b;
}

button, input[type="submit"] {
  width: 100%;
  margin-top: 2em;
  background: transparent;
}

input[type="submit"] {
  margin-top: 1em;
}

.activeButton {
  color: #fff;
  background: #9a2b2b;
}

.goToLeaderboard {
  padding: 1em;
}

.goToLeaderboard button {
  width: 25%;
}

.randomWords p:hover, button:hover, input[type="submit"]:hover {
  cursor: pointer;
  color: #fff;
  background: #9a2b2b;
}

.randomWords, .definitions {
  animation: fadeIn 0.7s 0.7s forwards;
  opacity: 0;
}

.leaderboardButtons {
  display: flex;
}

.leaderboardTitle {
  text-transform: capitalize;
}

table {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 640px;
    border-collapse:
    collapse; border-spacing: 0;
    width: 100%;
    margin-top: 1em;
}

td, th {
    border: 0.5px solid #ccc;
    height: 30px;
    transition: all 0.3s;
}

th {
    background: #DFDFDF;
    font-weight: bold;
}

td {
    background: #FAFAFA;
    text-align: center;
}

td:nth-child(1) {
  width: 3em;
}


tr:nth-child(even) td { background: #F1F1F1; }

tr:nth-child(odd) td { background: #FEFEFE; }

tr:nth-child(odd):hover td {
  background: #ecebeb;
  cursor: pointer;
}

tr:nth-child(even):hover td {
  background: #fff;
  cursor: pointer;
}

.addScoreContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 13em;
}

.addScoreContainer input {
  padding: 1em;
  text-transform: capitalize;
}


@media (max-width: 768px) {
  .App {
    margin: 0;
    width: 100vw;
    border-radius: 0;
    box-shadow: none;
    overflow-y: hidden;
  }
  .container {
    min-height: 50vh;
  }
  header {
    border-radius: 0;
  }
  .randomWords {
    width: 100vw;
    margin-left: -2em;
  }
  .goToLeaderboard {
    margin: 0;
    padding: 0 2em;
    display: flex
  }
  .goToLeaderboard button {
    margin: 0;
    width: 100%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
